body {
    font-family: sans-serif;
    background-image: url(https://images.unsplash.com/photo-1544656376-ffe19d4b7353?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80);
    background-size: 100%;
    background-repeat: repeat;
    width: 100%;
    overflow: hidden;

}


div {

    display: flex;
    justify-content: center;
    perspective: 400px;

}

.titre {


    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 200%;

}

.perspective{  
    height: 10px; /*??????????????*/
} 


h1 {
    color: rgb(9, 75, 181);
    text-align: center;
    animation: 1000s intro linear;
    display: block;
    z-index: 100;
}

p {
    position: relative;
    top: -100px;
    color: #E8C627;
    transform: rotateX(20deg) rotateY(0deg);
    animation: 400s starwars linear;
    font-size: 400%;
    perspective: 0;

}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size: 200%;
    animation: 20s logo linear;
    display: block;
    z-index: 1;
    opacity: 0;

}


@keyframes logo{
    from{
        display: none;
        transform: translateZ(0);
        opacity: 100
    }

    20%{
        display: none;

    }

    50%{
        display: block;
    }

    to{
        display: none;
        transform: translateZ(-2000px);
        opacity: 0
    }


}

@keyframes starwars {
    from {
        top: 0px;

        transform: rotateX(20deg) translateZ(0);
    }

    to {
        top: -6000px;
        transform: rotateX(20deg) translateZ(-2000px);

    }
}


@keyframes intro {
    from {
        display: block;
    }

    0.1% {
        display: none;
    }

    to {
        display: none;
    }
}